<% provide(:title, 'Home') %>

<%= link_to "Signup", signup_path, class: "btn btn-large btn-primary" %>

<%= will_paginate @bands %>

<% if signed_in? %>

<ul class="bands">
	<% list_bands(current_user).each do |band| %>
		<li>
			<td><%= link_to band.name, band %> <% link_to band %></td>
		</li>
	<% end %> 
</ul>

<% else %>

<ul class="users">
	<% @bands.each do |band| %>
		<li>
			<td><%= link_to band.name, band %> <% link_to band %></td>
		</li>
	<% end %> 
</ul>

<% end %>


<%= will_paginate @bands %>